In [1]:
import tensorflow as tf
from tensorflow import keras
print(tf.__version__)

print(keras.__version__)

2.4.1
2.4.0

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [3]:
# Wczytaj dane treningowe i testowe
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

train_set = pd.read_csv('Dane/adult/adult.data', sep=", ",header = None)
test_set = pd.read_csv('Dane/adult/adult.test', sep=", ",skiprows = 1, header = None) # Make sure to skip a row for the test set

col_labels = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 
              'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
             'wage_class']
train_set.columns = col_labels
test_set.columns = col_labels

train = train_set.replace('?', np.nan).dropna()
test = test_set.replace('?', np.nan).dropna()

train_set.head()

<ipython-input-3-2c44e8e6a4b2>:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  train_set = pd.read_csv('Dane/adult/adult.data', sep=", ",header = None)
<ipython-input-3-2c44e8e6a4b2>:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  test_set = pd.read_csv('Dane/adult/adult.test', sep=", ",skiprows = 1, header = None) # Make sure to skip a row for the test set

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# Zad.
ZrÃ³bmy szybki preprocesing

In [4]:
dataset = pd.concat([train,test])

dataset['wage_class'] = dataset.wage_class.replace({'<=50K.': 0,'<=50K':0, '>50K.':1, '>50K':1})

dataset.drop(["fnlwgt"],axis=1,inplace=True)

dataset.drop(["education"],axis=1,inplace=True)

x = dataset.groupby('native_country')["wage_class"].mean()

d = dict(pd.cut(x[x.index!=" United-States"],5,labels=range(5)))

dataset['native_country'] = dataset['native_country'].replace(d)

dataset = pd.get_dummies(dataset,drop_first=True)

train = dataset.iloc[:train.shape[0]]
test = dataset.iloc[train.shape[0]:]

X_train = train.drop("wage_class",axis=1)
y_train = train.wage_class

X_test = test.drop("wage_class",axis=1)
y_test = test.wage_class

X_train.head()

,age,education_num,capital_gain,capital_loss,hours_per_week,native_country,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Male
0,39,13,2174,0,40,2,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
1,50,13,0,0,13,2,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1
2,38,9,0,0,40,2,0,1,0,0,...,1,0,0,0,0,0,0,0,1,1
3,53,7,0,0,40,2,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
4,28,13,0,0,40,2,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0

# TensorBoard

In [5]:
root_logdir = os.path.join(os.curdir, "my_logs")

In [6]:
def get_run_logdir():
    import time
    run_id = time.strftime("run_%Y_%m_%d-%H_%M_%S")
    return os.path.join(root_logdir, run_id)

run_logdir = get_run_logdir()
run_logdir

'./my_logs/run_2021_05_21-14_20_48'

In [7]:
keras.backend.clear_session()
np.random.seed(42)
tf.random.set_seed(42)

In [8]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

from tensorflow.keras.callbacks import History

history = History()
model = Sequential()
model.add(Dense(100,activation="sigmoid",input_shape=(X_train.shape[1],)))
model.add(Dense(50,activation="sigmoid"))
model.add(Dense(10,activation="sigmoid"))
model.add(Dense(1,activation="sigmoid"))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               4200
_________________________________________________________________
dense_1 (Dense)              (None, 50)                5050
_________________________________________________________________
dense_2 (Dense)              (None, 10)                510
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 11
=================================================================
Total params: 9,771
Trainable params: 9,771
Non-trainable params: 0
_________________________________________________________________

In [9]:
model.compile(loss="binary_crossentropy",optimizer="Adam", metrics=["accuracy"])

In [10]:
from tensorflow.keras.callbacks import TensorBoard 

tensorboard_cb = TensorBoard(run_logdir)
history = model.fit(X_train, y_train, epochs=3, validation_data=(X_test, y_test), callbacks=[tensorboard_cb])

Epoch 1/3
943/943 [==============================] - 12s 11ms/step - loss: 0.5254 - accuracy: 0.7526 - val_loss: 0.4069 - val_accuracy: 0.8011
Epoch 2/3
943/943 [==============================] - 12s 13ms/step - loss: 0.3870 - accuracy: 0.8097 - val_loss: 0.3727 - val_accuracy: 0.8214
Epoch 3/3
943/943 [==============================] - 11s 11ms/step - loss: 0.3753 - accuracy: 0.8154 - val_loss: 0.3716 - val_accuracy: 0.8154

o start the TensorBoard server, one option is to open a terminal, if needed activate the virtualenv where you installed TensorBoard, go to this notebook's directory, then type:

```python
$ tensorboard --logdir=./my_logs --port=6006
```

You can then open your web browser to localhost:6006 and use TensorBoard. Once you are done, press Ctrl-C in the terminal window, this will shutdown the TensorBoard server.

Alternatively, you can load TensorBoard's Jupyter extension and run it like this:

```python
%load_ext tensorboard
%tensorboard --logdir=./my_logs --port=6006
```

Gdyby nie dziaÅaÅ tensorboard

https://github.com/pytorch/pytorch/issues/22676
```python
pip uninstall tb-nightly tensorboardX tensorboard
pip install tensorboard
```

# Zad

* Naucz dowolny model na zbiorze MNIST.
* WyÅwietl krzywe uczenia w tensorboard

In [11]:
# import the dataset

import tensorflow_datasets as tfds

(ds_train, ds_test), ds_info = tfds.load(
    'mnist',
    split=['train', 'test'],
    shuffle_files=True,
    as_supervised=True,
    with_info=True,
)

ds_info

tfds.core.DatasetInfo(
    name='mnist',
    full_name='mnist/3.0.1',
    description="""
    The MNIST database of handwritten digits.
    """,
    homepage='http://yann.lecun.com/exdb/mnist/',
    data_path='/home/kuba/tensorflow_datasets/mnist/3.0.1',
    download_size=11.06 MiB,
    dataset_size=21.00 MiB,
    features=FeaturesDict({
        'image': Image(shape=(28, 28, 1), dtype=tf.uint8),
        'label': ClassLabel(shape=(), dtype=tf.int64, num_classes=10),
    }),
    supervised_keys=('image', 'label'),
    disable_shuffling=False,
    splits={
        'test': <SplitInfo num_examples=10000, num_shards=1>,
        'train': <SplitInfo num_examples=60000, num_shards=1>,
    },
    citation="""@article{lecun2010mnist,
      title={MNIST handwritten digit database},
      author={LeCun, Yann and Cortes, Corinna and Burges, CJ},
      journal={ATT Labs [Online]. Available: http://yann.lecun.com/exdb/mnist},
      volume={2},
      year={2010}
    }""",
)

In [12]:
# preprocessing & performance tweaks

def normalize_img(image, label):
  """Normalizes images: `uint8` -> `float32`."""
  return tf.cast(image, tf.float32) / 255., label

ds_train = ds_train.map(
    normalize_img, num_parallel_calls=tf.data.experimental.AUTOTUNE)
ds_train = ds_train.cache()
ds_train = ds_train.shuffle(ds_info.splits['train'].num_examples)
ds_train = ds_train.batch(128)
ds_train = ds_train.prefetch(tf.data.experimental.AUTOTUNE)

# same for test dataset

ds_test = ds_test.map(
    normalize_img, num_parallel_calls=tf.data.experimental.AUTOTUNE)
ds_test = ds_test.batch(128)
ds_test = ds_test.cache()
ds_test = ds_test.prefetch(tf.data.experimental.AUTOTUNE)

ds_train

In [13]:
# set up the network

model = tf.keras.models.Sequential([
  tf.keras.layers.Flatten(input_shape=(28, 28)),
  tf.keras.layers.Dense(128,activation='relu'),
  tf.keras.layers.Dense(10)
])
model.compile(
    optimizer=tf.keras.optimizers.Adam(0.001),
    loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
    metrics=[tf.keras.metrics.SparseCategoricalAccuracy()],
)

In [15]:
logdir_mnist = get_run_logdir()
tensorboard_cb_mnist = TensorBoard(logdir_mnist)

history = model.fit(ds_train, epochs=10, validation_data=ds_test, callbacks=[tensorboard_cb_mnist])

Epoch 1/10
469/469 [==============================] - 11s 15ms/step - loss: 0.6195 - sparse_categorical_accuracy: 0.8342 - val_loss: 0.1907 - val_sparse_categorical_accuracy: 0.9451
Epoch 2/10
469/469 [==============================] - 5s 10ms/step - loss: 0.1758 - sparse_categorical_accuracy: 0.9489 - val_loss: 0.1470 - val_sparse_categorical_accuracy: 0.9560
Epoch 3/10
469/469 [==============================] - 5s 12ms/step - loss: 0.1195 - sparse_categorical_accuracy: 0.9650 - val_loss: 0.1092 - val_sparse_categorical_accuracy: 0.9660
Epoch 4/10
469/469 [==============================] - 4s 9ms/step - loss: 0.0912 - sparse_categorical_accuracy: 0.9744 - val_loss: 0.0925 - val_sparse_categorical_accuracy: 0.9720
Epoch 5/10
469/469 [==============================] - 6s 13ms/step - loss: 0.0724 - sparse_categorical_accuracy: 0.9784 - val_loss: 0.0883 - val_sparse_categorical_accuracy: 0.9730
Epoch 6/10
469/469 [==============================] - 7s 14ms/step - loss: 0.0601 - sparse_categorical_accuracy: 0.9825 - val_loss: 0.0832 - val_sparse_categorical_accuracy: 0.9747
Epoch 7/10
469/469 [==============================] - 6s 13ms/step - loss: 0.0507 - sparse_categorical_accuracy: 0.9851 - val_loss: 0.0771 - val_sparse_categorical_accuracy: 0.9764
Epoch 8/10
469/469 [==============================] - 6s 13ms/step - loss: 0.0399 - sparse_categorical_accuracy: 0.9889 - val_loss: 0.0774 - val_sparse_categorical_accuracy: 0.9769
Epoch 9/10
469/469 [==============================] - 7s 14ms/step - loss: 0.0339 - sparse_categorical_accuracy: 0.9913 - val_loss: 0.0762 - val_sparse_categorical_accuracy: 0.9766
Epoch 10/10
469/469 [==============================] - 5s 11ms/step - loss: 0.0295 - sparse_categorical_accuracy: 0.9921 - val_loss: 0.0731 - val_sparse_categorical_accuracy: 0.9770

In [16]:
%load_ext tensorboard
%tensorboard --logdir=./my_logs --port=6006